@import "bootstrap.css";

.user-answer-block {
	display:inline-block; /* remove to get in one line */
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.user-answer-block1 {
	
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.selected-class
{
	position: absolute;
}

h1
{
	text-align: center;
}

.test
{
color: green;
font-size: 200%;
}