<!DOCTYPE html>
<html>
	<head>
		<title>Online Test</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
        <script src="js/angular-slider.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/questions.js"></script>
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<meta charset="utf-8">
		<script>
		app.controller("Colorized1", function($scope)
		{
			// $scope.changeColor = function()
			// {
				$scope.color = "btn btn-success";
			// }
		}
			);
		</script>
	</head>
	<body ng-app="myApp">
	
	<div class="mycontainer"> 
	<!-- <div class="header"><img src="imgs/top1.jpg"></div> -->
		<header class="logo">
			<img src="imgs/top1.jpg"></div>
		</header>


		<div ng-controller="TestQuestions" class="user-answer-block">
		    <div class="container" >
                <div ng-repeat="question in questions">
                    <div ng-show="question.isEnabled" class="text-left">
                        <h3>{{ question.question }}</h3>
                        <div ng-repeat="answer in question.answers" class="user-answer-postition">
                            <input type="checkbox" class="big-checkbox"
                                    ng-class="{'btn-primary': answer.isSelected}"
                                    ng-disabled="answer.isDisabled"
                                    ng-click="setChoice(answer, question)">
                               <h4>{{ answer.answer }}</h4> 
                            </button>

                            <div ng-show="answer.isSelected">
                            <div ng-repeat="suba in answer['subanswers']" class="sub-user-answer-postition">
                                <input type="checkbox" class="big-checkbox"
                                        ng-class="{'btn-primary': suba.isSelected}"
                                        ng-disabled="suba.isDisabled"
                                        ng-click="setSubChoice(question, answer, suba)">
                                    <h4>{{suba.subanswer}}</h4> 
                                </button>
                            </div>
                            </div>

                         </div>
                        <hr>
                            
                     </div>
                </div>

                <!-- //INSERT SLIDER HERE-->
                 <div style="width:600px;">
                    <h3>Площадь изучаемой территории</h3>
                  <h4>Минимальная: {{minArea}} км&sup2;</h4> <br>
                  <h4>Максимальная: {{maxArea}} км&sup2;<h4>
                  <!-- <slider floor="100" ceiling="1000" step="1" precision="2" ng-model="cost"></slider> -->
                  <slider floor="0" ceiling="100" ng-model-low="minArea" ng-model-high="maxArea"></slider>
                 </div>
                <!--  -->
                <button ng-click="calculateResult()">Result</button>
                <p></p>
		    </div>
		</div>



<!-- <footer class="bottom"> -->

<div class="second">
	<div class="footer">
		<img src="imgs/bottom.jpg">
	<!-- <p class="navbar-text pull-center">НЦ ОМЗ</p> -->
	</div>
 </div>



<!-- </footer> -->


</div>

	</body>
</html>