<!DOCTYPE html>
<html>
	<head>
		<title>Online Test</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/questions.js"></script>
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<meta charset="utf-8">
		<script>
		app.controller("Colorized1", function($scope)
		{
			// $scope.changeColor = function()
			// {
				$scope.color = "btn btn-success";
			// }
		}
			);
		</script>
	</head>
	<body ng-app="myApp">
		<div>
		    <div ng-controller="TestQuestions">
		        <div ng-repeat="question in questions">
		            <h5>{{ question.question }}</h5>
		            <button class="btn"
		                    ng-repeat="answer in question.answers"
		                    ng-class="{'btn-primary': answer.isSelected}"
		                    ng-disabled="answer.isDisabled"
		                    ng-click="setChoice(answer, question)">
		                {{ answer.answer }}
		            </button>
		            <hr>
		        </div>
		    </div>
		</div>
		
		<div ng-controller="TestQuestions" ng-click="foo = foo + 1">
			<button>Foo</button>
		<!-- 	{{foo}}
			{{bar}} -->
		</div>
	</body>
</html>